.form-group {
  margin-bottom: 0px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;

  & p:first-of-type {
    font-weight: 500 !important;
    margin-right: 1rem;
    width: 100px;
  }
}

.form-group-inline {
  flex-direction: row;
}
